body {
    font-family: Arial, sans-serif;
    background-color: #2b7a3a; /* Verde oscuro similar a Bet365 */
    color: white; /* Letras en blanco */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    color: black; /* Letras negras dentro del contenedor */
    background-color: #2b7a3a; /* Verde */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.survey-container {
    text-align: center;
    color: black; /* Letras negras dentro del contenedor */
    background-color: #87CEEB; /* Azul celeste */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 80%;
    max-width: 600px;
}

.events {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.event {
    background: #e0e0e0;
    padding: 15px;
    border-radius: 5px;
    color: black; /* Letras negras dentro de los eventos */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: black; /* Botones en negro */
    color: white; /* Letras en blanco en los botones */
}

#warning-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    pointer-events: all;
}

.warning-content { /*POPUP DE ADVERTENCIA*/
        background-color: rgb(242, 255, 0);
        padding: 60px;
        border-radius: 5px;
        text-align: center;

        position: fixed; /* Fija la posición en relación a la ventana del navegador */
        top: 50%; /* Posiciona el elemento al 50% de la altura de la ventana */
        left: 50%; /* Posiciona el elemento al 50% del ancho de la ventana */
        transform: translate(-50%, -50%); /* Ajusta el elemento para que quede exactamente centrado */
        
        max-width: 80%;
        z-index: 1000;
        color: black; /* Letras negras dentro del contenido de advertencia */
}


.top-right-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
}

.top-right-buttons button {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo-container img {
    max-width: 150px; /* Ajusta el tamaño de la imagen según sea necesario */
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
}